# Ignore Python virtual environment
venv/

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.venv
*.venv

# MacOS-specific files
.DS_Store

# Logs and other output
*.log

# Python egg and cache files
*.egg
*.egg-info/
dist/
build/

#Credential files
.env
*.json
*.test
moviedb.py